/*
 =============== FONTS ==================
 */
$nunito: 'Nunito Sans', sans-serif;
$poppins: 'Poppins', sans-serif;

/*
 ================== COLORS ==================
 */
$primary: #f39022;
$secondary: #504e4f;