.mobile-button {
	display: none;
}

.header {
	background-color: $primary;
	min-height: 125px;
	position: relative;
	&__box {
		&.sticky {
		    position: fixed;
		    top: 0px;
		    z-index: 9999;
		    width: 100%;
		    padding-top: .5em;
		    background: #f39022;
		}
	}
	&__wrap	{
		position: relative;
		padding-top: 10px;
		padding-bottom: 10px;
		
		@media screen and (min-width: 992px) {
			display: flex;
			justify-content: space-between;
		}	}
	&__logo {
		@media screen and (min-width: 992px) {
			order: -1;
		}
	
		a {
			display: block;
		}
	}
	&__links {
		@media screen and (min-width: 992px) {
			order: 0;
		}
		ul {
			margin: 0;
			@media screen and (max-width: 992px) {
				display: flex;
				justify-content: space-between;
				align-items: center;
			}
			li {
				display: inline-block;
				&:not(.login) {
					margin-right: 60px;
				}
				a {
					color: #fff;
					font-family: $poppins;
					font-weight: 700;
				}
				
				&.login {					
					text-align: center;
					a {
						font-size: 18px;
						font-weight: bold;
						color: #000;
						line-height: 1;
						background-color: #fff;
						border-radius: 8px;
						padding: 19px 33px;						
						@media screen and (max-width: 992px) {
							padding: 10px 33px;
						}
						img {
							margin-right: 10px;
							vertical-align: text-bottom;
						}
					}
				}
			}
		}		
	}
}


@media screen and (max-width: 992px) {
	.mobile-button {
		display: block;
		position: absolute;
		top: -50px;
		right: 15px;
		z-index: 101;
		.menu-toggle {
			color: transparent;
			font-size: 0;
			border: 0;
			width: 45px;
			height: 6px;
			background-color: #fff;
			border-radius: 8px;
			position: relative;
			&:before, &:after {
				content: "";
				width: 45px;
				height: 6px;
				border-radius: 8px;
				background-color: #fff;
				position: absolute;
			}
			&:before {			
				top: -13px;
				left: 0;
			}
			&:after {
				bottom: -13px;
				left: 0;
			}
		}
	}
}